# Base de datos
DB_PASSWORD=tu_password_segura

# JWT
JWT_SECRET=un_string_largo_y_seguro

# API URLs
NEXT_PUBLIC_API_URL=http://localhost:4000/api

# Resend (email)
RESEND_API_KEY=
CONTACT_EMAIL=tu@email.com

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
